body{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: green;
    box-sizing: border-box;
}
#container div:not(:first-child){
    padding: 3px;
    text-align: center;
    margin-top: 20px;
}
.inner{
    background-color: white;
    position: relative;
    width: 75px;
    height: 75px;
    left: 38px;
    top: 40px;
}
.triangle-bottom-left{
    background-color: transparent;
    position: relative;
    left: 38px;
    top: 40px;
    width: 0;
    height: 0;
    border-bottom: 75px solid red;
    border-right: 75px solid transparent;
}
button{
    padding: 15px;
    background-color: brown;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}